In [1]:
ls data

Departements.csv            Liste_musees_de_France.xls

In [2]:
import pandas

In [3]:
from unidecode import unidecode

In [4]:
!head data/Departements.csv

La Réunion;4;25;24;842.767;852.657

In [5]:
departements = pandas.read_csv("data/Departements.csv", sep=";")

In [6]:
departements.head()

,Nom du département,Nombre d'arrondissements,Nombre de cantons,Nombre de communes,Population municipale,Population totale
0,Ain,4,23.0,410,626.127,643.309
1,Aisne,5,21.0,805,539.783,554.040
2,Allier,3,19.0,318,343.062,353.262
3,Alpes-de-Haute-Provence,4,15.0,199,161.588,166.298
4,Hautes-Alpes,2,15.0,168,139.883,145.213

In [7]:
departements = departements[["Nom du département", "Population totale"]]

In [8]:
museums = pandas.read_excel("data/Liste_musees_de_France.xls")

In [9]:
museums.head()

,NOMREG,NOMDEP,DATEAPPELLATION,FERME,ANNREOUV,ANNEXE,NOM DU MUSEE,ADR,CP,VILLE,SITWEB,FERMETURE ANNUELLE,PERIODE OUVERTURE,JOURS NOCTURNES
0,ALSACE,BAS-RHIN,01/02/2003,NON,NaN,NaN,Musée de la Folie Marco,"30, Rue du Dr Sultzer",67140,BARR,www.barr.fr,Novembre à avril,Ouvert de mai à septembre du mercredi au lundi...,NaN
1,ALSACE,BAS-RHIN,01/02/2003,NON,NaN,NaN,Musée de la Poterie,"2, rue de Kuhlendorf",67660,BETSCHDORF,www.betschdorf.fr/tourisme/visiter_betschdrof/...,Novembre à mi-avril,Ouvert du mardi au samedi de 10h à 12h et de 1...,NaN
2,ALSACE,BAS-RHIN,01/02/2003,OUI,29 juin 2013,NaN,Musée de Bouxwiller et du Pays de Hanau,"2, Place du Château\nHalle aux Blés",67330,BOUXWILLER,www.musee-pays-hanau.webmuseo.com,NaN,Fermé. Ouvert uniquement sur réservation pour ...,NaN
3,ALSACE,BAS-RHIN,01/02/2003,NON,NaN,NaN,Musée Alsacien,"1, place Joseph Thierry",67500,HAGUENAU,www.ville-haguenau.fr/pages/culture/musee.htm,"1er janvier, dimanche de Pâques, 1er mai, 1er ...",Ouvert du lundi au vendredi de 9h à 12h et de ...,NaN
4,ALSACE,BAS-RHIN,01/02/2003,NON,NaN,NaN,Musée Historique,"9, Rue du Maréchal Foch\nB.P. 40261",67504,HAGUENAU Cedex,www.ville-haguenau.fr/pages/culture/musee.htm ...,"1er janvier, dimanche de Pâques, 1er mai, 1er ...","Ouvert lundi de 14h à 18h, mercredi au vendred...",NaN

In [10]:
museums["NOMDEP"] = museums["NOMDEP"].apply(lambda s: s.replace("-", " "))

In [11]:
museum_count = museums.groupby("NOMDEP").size()

In [12]:
museum_count.head(20)

NOMDEP
AIN                        14
AISNE                      15
ALLIER                      9
ALPES DE HAUTE PROVENCE     9
ALPES MARITIMES            33
ARDECHE                     8
ARDENNES                    8
ARIEGE                      6
AUBE                       11
AUDE                        9
AVEYRON                    11
BAS RHIN                   24
BOUCHES DU RHONE           44
CALVADOS                   23
CANTAL                      5
CHARENTE                    6
CHARENTE MARITIME          19
CHER                        9
CORREZE                     5
CORSE DU SUD                5
dtype: int64

In [13]:
departements["Nom du département"] = departements["Nom du département"].apply(lambda s: s.upper())
departements["Nom du département"] = departements["Nom du département"].apply(lambda s: s.replace("-", " "))

In [14]:
departements.head(20)

         Nom du département Population totale
0                       AIN           643.309
1                     AISNE           554.040
2                    ALLIER           353.262
3   ALPES DE HAUTE PROVENCE           166.298
4              HAUTES ALPES           145.213
5           ALPES MARITIMES         1.098.785
6                   ARDÈCHE           332.051
7                  ARDENNES           287.775
8                    ARIÈGE           158.076
9                      AUBE           316.098
10                     AUDE           375.065
11                  AVEYRON           289.901
12         BOUCHES DU RHÔNE         2.035.475
13                 CALVADOS           708.407
14                   CANTAL           152.400
15                 CHARENTE           366.787
16        CHARENTE MARITIME           656.046
17                     CHER           318.590
18                  CORRÈZE           249.684
19             CORSE DU SUD           154.100

In [21]:
departements.index = departements["Nom du département"]
departements.drop(["Nom du département"], axis=1, inplace=True)

In [22]:
departements.head(20)

                        Population totale
Nom du département
AIN                               643.309
AISNE                             554.040
ALLIER                            353.262
ALPES DE HAUTE PROVENCE           166.298
HAUTES ALPES                      145.213
ALPES MARITIMES                 1.098.785
ARDÈCHE                           332.051
ARDENNES                          287.775
ARIÈGE                            158.076
AUBE                              316.098
AUDE                              375.065
AVEYRON                           289.901
BOUCHES DU RHÔNE                2.035.475
CALVADOS                          708.407
CANTAL                            152.400
CHARENTE                          366.787
CHARENTE MARITIME                 656.046
CHER                              318.590
CORRÈZE                           249.684
CORSE DU SUD                      154.100

In [23]:
joined = departements.join(pandas.DataFrame(museum_count, index=museum_count.index, columns=["number of museums"]))

In [24]:
joined.head()

                        Population totale  number of museums
Nom du département
AIN                               643.309               14.0
AISNE                             554.040               15.0
ALLIER                            353.262                9.0
ALPES DE HAUTE PROVENCE           166.298                9.0
HAUTES ALPES                      145.213                2.0

In [25]:
joined["Population totale"] = joined["Population totale"].apply(lambda s: pandas.to_numeric(s, errors="drop"))

In [26]:
joined.corr()

                   Population totale  number of museums
Population totale           1.000000           0.625184
number of museums           0.625184           1.000000